
.container {
  margin: auto;
  max-width: 860px;
  overflow: hidden;
  max-height: 450px;
}

.ninja {
  font-size: 144px;
  position: relative;
}

.list {
  font-size: 144px;
  position: relative;
  top: -144px;
  left: 160px;
}

.line {
  position: relative;
  width: 30%;
  top: -480px;
  left: 60px;
}

.click {
  position: relative;
  top: -516px;
  left: 640px;
  font-size: 20.48px;
}

