.card {
    border: 1px solid white;
    margin: 25px auto;
    border-radius: 40px;
    width: 70%;
}

.card:hover {
    border: 1px solid rgb(209,29,64);
    color: rgb(209,29,64);
    cursor: pointer;
}

.card h2 {
    font-weight: lighter;
    text-align: center;
}